//! **************************************************************************
// Written by: Map P.20131013 on Fri May 03 23:09:28 2019
//! **************************************************************************

SCHEMATIC START;
COMP "clock" LOCATE = SITE "AH15" LEVEL 1;
SCHEMATIC END;

